 <div class="main-area">
  <div class="login-area">
    <div class="form-group" style="margin-top:50px" [formGroup]="loginForm">
      <img src="../../../../assets/foot-logo.png" alt="foot">
      <br>
      <label>Username</label>
      <input type="text" formControlName="username" class="form-control">
      <span *ngIf="(loginForm.get('username').invalid) && (loginForm.get('username').touched)">This field is
        required</span>
      <br>
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control">
      <span *ngIf="(loginForm.get('password').invalid) && (loginForm.get('password').touched)">This field is
        required</span>
      <br>
      <div style="text-align: center;">
        <button nz-button nzType="primary" (click)="loginClick('success')">LOGIN</button>
      </div>
      <br>
      <div class="link">
        <label (click)="forget()">Forget Password?</label>
      </div>
      <div class="link">
        <label (click)="newAccount()">Create a new account</label>
      </div>
    </div>
  </div>
</div>



<div class="modal" id="modalDemo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> 
  
