div.main-area{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    // background-color: rgb(151, 231, 205);  
    // background-image: repeating-linear-gradient(90deg,#07A3B2,#D9ECC7);  
    background-image: repeating-linear-gradient(190deg,#07A3B2,#D9ECC7);       
}  
div.form-group{ 
    // height: 500px; 
    padding: 10px; 
}
div.login-area{
    height: 500px;  
    width: 400px;    
    // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
    // background-repeat: no-repeat;  
    // border:1px solid black; 
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    // background-color: burlywood;  
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
}
div.link{
    text-align: center;
    color: cadetblue;
}
div.link:hover{
    color: aqua;
}
span{
    color:red;
}
button {
    margin-right: 1em;
  }

img{
    margin-left: 37px;
    margin-bottom: 50px;
}  
  @media only screen and (max-width: 600px) {
    div.login-area {
        height: 100vh; 
    }
  }

