div.MainDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  div.content {
    padding: 40px;
    height: 500px;
    width: 1100px;
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
  }
  // div.modals{
  //   // height: 50px;
  //   // width: 50px; 
  //   border: 1px solid black;
  //   background-color:brown; 
  //   height: 250px;
  //   width: 360px;
  //   margin-top: -400px;
  //   margin-left: 600px;
  // }
  @media only screen and (max-width: 600px) {
    div.content {
      margin-top: 5px; 
      width: 360px; 
    }
  }
  