<button (click)="openModal()">New</button>
<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of userList;let i = index" >
      <td (click)="getSingleUser(item?.id)" >{{i + 1}}</td>
      <td (click)="getSingleUser(item?.id)">{{item?.id}}</td>
      <td (click)="getSingleUser(item?.id)">{{item?.username}}</td>
      <td>
        <button (click)="deleteUser(item?.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close"  (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" [formGroup]="userForm">
          <label for="">username</label>
          <input type="text" placeholder="username" formControlName="username">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveForm(userForm?.value)">Save changes</button>
      </div>
    </div>
  </div>
</div>