div.topnav {
    overflow: hidden;
    background-color: #333;
  }
div.topnav p{ 
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}