div.outerdiv{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
div.innerdiv{
    height: 400px;
    width: 400px;
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 