<div class="outerdiv">
    <div class="innerdiv">
        <div class="form-group" [formGroup]="forgetForm">
            <label>Enter your email</label>
            <input type="text" formControlName="newemail"class="form-control">
            <span *ngIf="(forgetForm.get('newemail').invalid) && (forgetForm.get('newemail').touched)" style="color: red;">This field is required</span>
        </div>
        <div style="text-align: center;"> 
            <button class="btn btn-secondary"(click)="sendEmail()">Send email</button>
        </div>
    </div>
</div>