div.MainDiv {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.content {
  padding: 40px;
  height: 500px;
  width: 1100px;
  box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
} 
@media only screen and (max-width: 600px) {
  div.content {
    width: 360px; 
  }
}
