<div class="MainDiv">
    <div class="content">
        <nz-table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Comments</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userdata;let i=index">
                    <td>i</td>
                    <td>{{data.name}}</td>
                    <td>{{data.fromDate}}</td>
                    <td>{{data.toDate}}</td>
                    <td>{{data.comments}}</td>
                    <td><button type="button" class="btn btn-success">Approve</button>
                        &nbsp;
                        <button type="button" class="btn btn-danger">Decline</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>