div.outerdiv{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
// div.innerdiv{
//     height: 800px;
//     width: 800px;
//     display: flex;
//     flex-direction: column; 
//     justify-content: center;
//     align-items: center;
// }
div.form-group{
    padding: 10px;
    height: 700px; 
    width: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);

}
div.footer{
    display: flex;
    flex-direction: row;
}
label.link{
    color:blue;
    text-align: left;
}
label.link:hover{
    color: violet;
}   