<div class="outerdiv">
    <!-- <div class="innerdiv"> -->
        <h1>Create Your New Account</h1>
        <div class="form-group" [formGroup]="newForm">
            <div class="">
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control">
                <span *ngIf="(newForm.get('username').invalid) && (newForm.get('username').touched)"
                    style="color:red;">This field is required</span>
            </div>
            <div class="">
                <label>DOB</label>
                <input type="date" formControlName="dob" class="form-control">
                <span *ngIf="(newForm.get('dob').invalid) && (newForm.get('dob').touched)" style="color:red;">This field
                    is required</span>
            </div>
            <div class="">
                <label>email</label>
                <input type="text" formControlName="email" class="form-control">
                <span *ngIf="(newForm.get('email').invalid) && (newForm.get('email').touched)" style="color:red;">This
                    field is required</span>
            </div>
            <div class="">
                <label>New Password</label>
                <input type="text" formControlName="newPassword" class="form-control">
                <span *ngIf="(newForm.get('newPassword').invalid) && (newForm.get('newPassword').touched)"
                    style="color:red;">This field is required</span>
            </div>
            <div class="">
                <label>Confirm Password</label>
                <input type="text" formControlName="confrimPassword" class="form-control">
                <span *ngIf="(newForm.get('confrimPassword').invalid) && (newForm.get('confrimPassword').touched)"
                    style="color:red;">This field is required</span>
            </div>
            <br>
            <div class="footer">
                <label class="link" style="text-align: left;" (click)="signin()">Sign in instead</label>
                <button class="btn btn-primary" style="margin-left:300px"(click)="submit()">Submit</button>
            </div>
        </div>
    <!-- </div> -->
</div>