div.topnav {
  overflow: hidden;
  background-color: #333;
}
div.topnav p {
  float: left;
  display: block;
  // color: #f2f2f2;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


mastr 

>
line 20 : orange
lien 20 : yellow 

local sysltem : line 20 : orange;

